# Plugins
gems: [jekyll-paginate, jekyll_pages_api_search]

# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
# permalink:           pretty
# relative_permalinks: true

# Setup
title:               '@pabloduo'
tagline:             ''
description:         'Authored by <a href="https://twitter.com/pabloduo" target="_blank">@pabloduo</a>.'
url:                 http://pabloduo.com
baseurl:             ''
paginate:            5

# About/contact
author:
  name:              Pavel Tsurbeleu
  url:               https://twitter.com/pabloduo
  email:             pavel.tsurbeleu@me.com

# Custom vars
version:             1.0.0

# Defaults
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post
  -
    scope:
      path: ""
      type: "pages"
    values:
      skip_index: true

# Search
jekyll_pages_api_search:
  index_fields:
    title:
      boost: 10
    tags:
      boost: 10
    url:
      boost: 5
    body:

# Exclude not relevant files
exclude:
  - docker-compose.yml